* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }

a {
    text-decoration: none;
    list-style: none;
    color: var(--text-color);
}

ul {
    text-decoration: none;
    list-style: none;
    color: var(--text-color);
}

:root {
    /* Colores principales */
    --primary-color: #5e17eb; /* Tu púrpura vibrante, ideal para acentos y elementos interactivos */
    --background-color: #262526; /* Fondo gris muy oscuro, la base de tu diseño */
    --text-color: #F5F5F5; /* Blanco muy claro para el texto principal, excelente contraste */

    /* Variaciones de colores (para estados interactivos o superficies) */
    --primary-color-hover: #7b4feb; /* Un tono ligeramente más claro del púrpura para el hover de botones/enlaces */
    --surface-color: #303030; /* Un gris un poco más claro que el fondo, útil para tarjetas o modales elevados */
}

body {
    color: var(--text-color);
    background-color: var(--background-color);
    text-align: center;
}

#header-placeholder {
    position: fixed;
    padding: 20px 20px 10px 20px;
    top: 0;
    left: 0;
    width:100%;
    z-index: 1000;
    display: flex;
    justify-content: space-around;
    font-weight: bold; 
    white-space: nowrap;
    backdrop-filter: blur(10px);

    .kevin_moreno {
        font-size: 1rem;

        .coder {
            color: var(--primary-color);
            text-shadow: 1px 1px 4px var(--primary-color);
            font-size: 1.3rem; 
        }
    }

    .navbar {
        display: flex;

        li {
            margin: 10px;
        }

        a:hover {
            color: var(--primary-color);
            text-shadow: 1px 1px 4px var(--primary-color);
        }
    }
}

#hero-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    margin: 10px;

    img {
        width: 25%;
    }
    
    .cta {
        display: flex;
        justify-content: center;
        font-weight: bold;

        button {
            margin: 10px;
            padding: 10px;
            border-radius: 20px;
        }

        button:hover {
            background-color: var(--surface-color);
            border: 1px solid var(--surface-color);
        }

        .cv {
            background-color: var(--background-color);
            border: 1px solid var(--primary-color);
        }

        .wpp {
            background-color: var(--primary-color);
            border: 1px solid var(--background-color);

        }
    }
}

    #main {
        display: flex;
        flex-direction: column;
        justify-content: center;

        #projects-placeholder {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 10px;



        .content-projects {
            margin: 10px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: center;
            align-items: center;

            img {
            width: 12rem;
            padding: 30px;
            }
        }

        .item-project {
            background-color: var(--surface-color);
            border-radius: 20px;
            padding: 20px;
            width: 50%;
            height: auto;
            flex-basis: 300px;
            flex-grow: 1;
        }

        button {
            margin: 10px;
            padding: 10px;
            background-color: var(--surface-color);
            border: 1px solid var(--primary-color);
            border-radius: 20px;
        }

        button:hover {
            background-color: var(--background-color);
            border: 1px solid var(--background-color);
        }
    }

    #contact-placeholder {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90vh;
        text-align: center;
        margin: 10px;
        font-size: 1em;

        .me {
            color: var(--primary-color);
            text-shadow: 1px 1px 4px var(--primary-color);
            font-weight: 100px;
        }

        div {
            padding: 15px;
        }

        li {
            padding: 5px;
            color: var(--primary-color);
        }

        li:hover {
            text-shadow: 1px 1px 3px var(--primary-color);
            border: 1px solid var(--primary-color);
            border-radius: 20px;
            a {
                color: var(--primary-color);
            }

        }
    }
}

#footer-placeholder {
    margin: 50px;
    padding: auto;
}

/*Desing responsive*/
@media (max-width: 768px) {
    #header-placeholder {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #hero-placeholder {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}