/* ================================
   VARIABLES Y ESTILOS GLOBALES
================================= */
:root {
  /* Colores principales */
  --primary-color: #5e17eb;
  --primary-color-hover: #7b4feb;
  --background-color: #262526;
  --surface-color: #303030;
  --text-color: #f5f5f5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
  text-align: center;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

ul {
  list-style: none;
  color: var(--text-color);
}

/* ================================
   HEADER
================================= */
#header-placeholder {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-around;
  padding: 20px 20px 10px 20px;
  font-weight: bold;
  white-space: nowrap;
  backdrop-filter: blur(10px);
}

#header-placeholder .kevin_moreno {
  font-size: 1rem;
}

#header-placeholder .kevin_moreno .coder {
  color: var(--primary-color);
  text-shadow: 1px 1px 4px var(--primary-color);
  font-size: 1.3rem;
}

#header-placeholder .navbar {
  display: flex;
}

#header-placeholder .navbar li {
  margin: 10px;
}

#header-placeholder .navbar a:hover {
  color: var(--primary-color);
  text-shadow: 1px 1px 4px var(--primary-color);
}

/* ================================
   HERO
================================= */
#hero-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  margin: 10px;
}

#hero-placeholder img {
  width: 20%;
}

#hero-placeholder .cta {
  display: flex;
  justify-content: center;
  font-weight: bold;
}

#hero-placeholder .cta button {
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
}

#hero-placeholder .cta button:hover {
  background-color: var(--surface-color);
  border: 1px solid var(--surface-color);
}

#hero-placeholder .cta .cv {
  background-color: var(--background-color);
  border: 1px solid var(--primary-color);
}

#hero-placeholder .cta .wpp {
  background-color: var(--primary-color);
  border: 1px solid var(--background-color);
}

/* ================================
   MAIN > PROJECTS
================================= */
#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#projects-placeholder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 10px;
}

#projects-placeholder .content-projects {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

#projects-placeholder .content-projects img {
  width: 12rem;
  padding: 30px;
}

#projects-placeholder .item-project {
  background-color: var(--surface-color);
  border-radius: 20px;
  padding: 20px;
  width: 50%;
  flex-basis: 300px;
  flex-grow: 1;
}

#projects-placeholder button {
  margin: 10px;
  padding: 10px;
  background-color: var(--surface-color);
  border: 1px solid var(--primary-color);
  border-radius: 20px;
  cursor: pointer;
}

#projects-placeholder button:hover {
  background-color: var(--background-color);
  border-color: var(--background-color);
}

/* ================================
   CONTACT
================================= */
#contact-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  text-align: center;
  margin: 10px;
  font-size: 1em;
  flex-direction: column;
}

#contact-placeholder .me {
  color: var(--primary-color);
  text-shadow: 1px 1px 4px var(--primary-color);
  font-weight: 100px;
}

#contact-placeholder div {
  padding: 15px;
}

#contact-placeholder li {
  padding: 5px;
  color: var(--primary-color);
}

#contact-placeholder li:hover {
  text-shadow: 1px 1px 3px var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 20px;
}

#contact-placeholder li:hover a {
  color: var(--primary-color);
}

/* ================================
   SKILLS & FOOTER
================================= */
#skills-placeholder {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 50px;
  padding: auto;
}

#skills-placeholder h2 {
  font-size: 5rem;
  color: var(--text-color);
  text-shadow: 1px 1px 4px var(--primary-color);
}

#skills-placeholder li {
  font-size: 1.5rem;
  padding: 5px;
  color: var(--primary-color);
}

#skills-placeholder li:hover {
  text-shadow: 1px 1px 3px var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 20px;
}

#footer-placeholder {
  margin: 50px;
  padding: auto;
}

/* ================================
   RESPONSIVE DESIGN
================================= */
@media (max-width: 768px) {
  #header-placeholder {
    flex-direction: column;
    align-items: center;
  }

  #hero-placeholder {
    flex-direction: column;
    align-items: center;
  }

  #contact-placeholder {
    font-size: 1rem;
    flex-direction: column;
    align-items: center;
  }
}
