<div>
    <h2>Projects</h2>
    <p>Here are some of the projects I've worked on:</p>
</div>

<div class="content-projects">
    <div class="item-project">
        <img src="assets/img/kevin-moreno_logo.png"></img>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae, distinctio.</p>
        <button><a href="https://github.com/Moren0k/Riwi_Challenges/tree/main/Python" target="_blank">Projects with Python</a></button>
    </div>
    <div class="item-project">
        <img src="assets/img/kevin-moreno_logo.png"></img>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, fugit.</p>
        <button><a class="project" href="https://github.com/Moren0k/Riwi_Challenges/tree/main/HTML%20%26%20CSS" target="_blank">Projects with HTML & CSS</a></button>
    </div>
    <div class="item-project">
        <img src="assets/img/kevin-moreno_logo.png"></img>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing ebuttont. Placeat, laboriosam?</p>
        <button><a class="project" href="https://github.com/Moren0k/Riwi_Coder_workouts" target="_blank">Projects</a></button>
    </div>
</div>