<div>
    <h2>Contact<span class="me">.Me!</span></h2>
    <p>If you'd like to contact me, don't hesitate!</p>
</div>
<ul>
    <li>GitHub: <a href="https://github.com/Moren0k">Moren0k</a></li>
    <li>WhatsApp: <a href="https://wa.me/573194312060">Chat with me (+57)</a></li>
    <li>LinkedIn: <a href="https://www.linkedin.com/in/jhos-kevin-agudelo-moreno-233888362">Jhos Kevin Agudelo Moreno</a></li>
    <li>Email: <a href="mailto:jhoskevinagudelomoreno@gmail.com">jhoskevinagudelomoreno@gmail.com</a></li>
</ul>