<!-- Hero -->
<img src="/assets/img/kevin-moreno_logo.png" alt="kevin-moreno_logo">
<div class="textme">
    <p>Hi, Welcome to my personal website</p>
    <h2>I am, <span class="name">Jhos Kevin Agudelo Moreno</span></h2>
    <p>Software developer with experience in various programming languages and technologies. 
    <div class="cta">
        <button class="cv" title="Currículum"><a href="/assets/docs/cv.pdf" download="cv.pdf" target="_blank">Descargar CV</a></button>
        <button class="wpp" title="WhatsApp"><a href="https://wa.link/xtffox" target="_blank">Contáctame</a></button>
    </div>
</div>
